asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
beautifulsoup4==4.6.0
bleach==1.5.0
bokeh==0.12.9
cffi==1.10.0
chardet==2.3.0
ChatterBot==0.7.6
chatterbot-corpus==1.0.1
command-not-found==0.3
constantly==15.1.0
cryptography==2.0.3
cssselect==1.0.1
curve==0.1.0
cycler==0.10.0
decorator==4.1.2
distro-info===0.14build1
Django==1.11.5
entrypoints==0.2.3
future==0.16.0
google==1.9.3
google-search==1.0.2
html5lib==0.9999999
hyperlink==17.3.1
idna==2.2
incremental==17.5.0
ipykernel==4.6.1
ipython==6.2.0
ipython-genutils==0.2.0
ipywidgets==7.0.1
jedi==0.10.2
Jinja2==2.9.6
jsondatabase==0.1.7
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
keyring==10.3.1
keyrings.alt==2.2
language-selector==0.1
line==0.8.2
lxml==3.8.0
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.4
mpmath==0.19
nbconvert==5.3.1
nbformat==4.4.0
networkx==1.11
nltk==3.2.4
notebook==5.7.8
numpy==1.13.1
oauthlib==2.0.3
olefile==0.44
pandas==0.20.3
pandocfilters==1.4.2
parsel==1.2.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
pkg-resources==0.0.0
prompt-toolkit==1.0.15
protobuf==3.4.0
ptyprocess==0.5.2
pyasn1==0.1.9
pyasn1-modules==0.1.4
pycparser==2.18
pycrypto==2.6.1
PyDispatcher==2.0.5
Pygments==2.2.0
pygobject==3.22.0
pymongo==3.5.1
pyOpenSSL==17.3.0
pyparsing==2.2.0
python-apt==1.4.0b2
python-dateutil==2.6.1
python-debian==0.1.30
python-twitter==3.3
pytz==2017.2
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.1
queuelib==1.4.2
requests==2.10.0
requests-oauthlib==0.8.0
rsa==3.4.2
ruamel.yaml==0.15.0
scikit-learn==0.19.0
scipy==0.19.1
Scrapy==1.4.0
seaborn==0.8.1
SecretStorage==2.3.1
service-identity==17.0.0
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
SQLAlchemy==1.1.14
ssh-import-id==5.6
sympy==1.1.1
systemd-python==233
tensorflow==1.3.0
tensorflow-tensorboard==0.1.6
terminado==0.6
testpath==0.3.1
Theano==0.9.0
thrift==0.10.0
tornado==4.5.2
traitlets==4.3.2
Twisted==17.5.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.15.1
virtualenv==15.1.0
w3lib==1.18.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.0.3
wikipedia==1.4.0
zope.interface==4.4.2
